{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            {% if app.user %}
                <div class="mb-3">
                    You are already logged in as {{ app.user.name }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {%  else %}
                <h5 class="card-title text-center">Sign In</h5>
                <form class="form-signin" method="post">
                  <div class="form-label-group">
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>                  
                    <label for="inputUsername">Username</label>
                  </div>

                  <div class="form-label-group">
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <label for="inputPassword">Password</label>
                  </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                </form>                
            {% endif %}              
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
