<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('build/css/app.css') }}" type="text/css" rel="stylesheet">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}

            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body class="bg-body">
        {% block header %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">Hola.com</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    {% if app.request.get('_route') == 'login' %}  

                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Home</a>
                        </li>

                    {% endif %}                    
                    {% if app.request.get('_route') != 'login' %}  
                        {% if app.user %}
                            <li class="nav-item">
                              <a href="{{ path('app_logout') }}" class="nav-link">Log out</a>
                            </li>                            
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('login') }}">Login</a>
                            </li>                    
                        {% endif %}
                    {% endif %}
                  </ul>
                </div>
              </div>
            </nav>                                            
        {% endblock %}        
        {% block body %}{% endblock %}
            <script src="{{ asset('build/js/app.js')}}"></script>
    </body>
</html>
